<%- include('../../partials/_head', {
  title: 'Forgot',
  slug: 'forgot-v2',
  root: ''
}) %>
<div class="auth-v2">
  <h1 class="logo-text-gorilla-v2">
    <img src="/images/logo_text_gorilla.png">
  </h1>

  <div class="main-login">
    <div id="gd-login-v2" class="gd-form-v2 pb-15">
      <h2 class="fs-27"> Reset Your Password </h2>
      <form action="#">
        <section class="gd-login-btn-group">
          <div>
            <label for="" class="fs-15">Your Email</label>
            <input type="text" class="field-input">
          </div>
          <div class="gd-getstarted btn btn-main gd-btn-getstarted fs-15">
            <button type="submit"> Send Me Instructions </button>
          </div>
        </section>
      </form>
    </div>
    <p class="mascot mt-custom"><img src="/images/logo_gorilla.png"></p>
  </div>
</div>
<%- include('../../partials/_footer', {
    slug: 'forgot-v2',
    root: ''
}) %>
