<div class="box-tips">
	<div class="tip">
		<div class="title">
			<span class="fw-600 fs-15">Tip Title</span>
			<div class="close-tip" onclick="closeTips()">
				<%- include ("../../svg/outline/outline-close.svg") %>
			</div>
		</div>
		<div class="description fs-14">
			Quasi non dolores natus.
			Et voluptatem nemo quia doloribus vitae blanditiis est suscipit earum.
		</div>
	</div>
</div>