<div class="sidebar border-right-border-color-grey scrolls">
	<div class="sidebar-main">
		<h2 class="sidebar-title fs-18">Reports</h2>
		<div class="sidebar-content fs-14">
			<ul>
				<li><div class="nav-items">Invoices</div></li>
				<li><div class="nav-items">Estimates</div></li>
				<li><div class="nav-items">Documents</div></li>
				<li><div class="nav-items">Payments</div></li>
				<li><div class="nav-items">Credits</div></li>
				<div class="border-line"></div>
				<li><div class="nav-items">Service Lockup</div></li>
				<li><a href="/pages/report/newCustomers.html" class="nav-items">New Customers</a></li>
				<li><div class="nav-items">Customers w/o Active Jobs</div></li>
				<li><div class="nav-items">Locations w/o Active Jobs</div></li>
				<div class="border-line"></div>
				<li><div class="nav-items">Account Aging</div></li>
				<li><div class="nav-items">Payments Collected</div></li>
				<li><a class="nav-items" href="/pages/report/totalSales.html">Total Sales</a></li>
				<li class="active-sidebar"><div class="nav-items">Sales Forecast</div></li>
				<li><div class="nav-items">Sales Tax Summary</div></li>
				<div class="border-line"></div>
				<li><div class="nav-items">Revenue By Client</div></li>
				<li><div class="nav-items">Revenue By Service</div></li>
				<li><div class="nav-items">Revenue By Items</div></li>
				<li><div class="nav-items">Revenue By Staff</div></li>
				<li><div class="nav-items">Revenue By Source</div></li>
				<li><div class="nav-items">Revenue By Tags</div></li>
				<div class="border-line"></div>
				<li><a class="nav-items" href="/pages/report/material.html">Material Use</a></li>
				<div class="border-line"></div>
				<li class="pb-0"><div class="nav-items">System Email History</div></li>
			</ul> 
		</div>
	</div>
</div> 
