<%- include('partials/_head', {
  title: 'Index',
  slug: 'splash',
  root: ''
}) %>

<div class="wrapper">
	<div class="loader ic-splash"></div>
</div>

<%- include('partials/_footer', {
    slug: 'splash',
    root: ''
}) %>