<div class="message-contents scrolls">
    <div class="box-conversation">
        <div class="conts-conversation">
            <!-- Timeline -->
            <div class="time-line">
                <div class="datetime">
                    12 Mon, September
                    <%- include ("../svg/outline/outline-chevron-down-small.svg") %>
                </div>
            </div>
            <!-- End -->
            <div class="wrapper-message box-message-send">
                <div class="wrap-items">
                    <div class="description">
                        Necessitatibus deleniti excepturi voluptas error.
                    </div>
                    <div class="name-content">
                        <span class="name">Tallah Cotton,</span>
                        <span class="time">Today, 10:13am</span>
                    </div>
                </div>

                <div class="images">
                    <div class="avt">RP</div>
                </div>
            </div>
            <div class="wrapper-message box-message-to">
                <div class="images">
                    <div class="avt-img">
                        <img src="../../images/avatar.png" alt="" width="24px" height="24px">
                    </div>
                </div>

                <div class="wrap-items">
                    <div class="message-to-detail">
                        <div class="description">
                            Necessitatibus deleniti excepturi voluptas error.
                            Blanditiis expedita impedit praesentium rerum omnis.
                            Quam reiciendis corporis explicabo voluptatum quisquam autem earum
                            deleniti.
                        </div>
                        <div class="check-items">
                            <input id="check-message1" type="checkbox" checked>
                            <div class="item-checkbox">
                                <label for="check-message1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="name-content">
                        <div class="name">
                            Olivia Eklund,
                            <span class="phone">Home, (844)-345-3045</span>
                        </div>
                        <div class="time"> 07/12/2020 06:30PM - 07:15PM </div>
                    </div>
                </div>
            </div>
            <!-- Message send fails -->
            <div class="wrapper-message box-message-send">
                <div class="wrap-items">
                    <div class="description">
                        Harum qui in quidem 😄 architecto culpa facilis rerum.
                    </div>
                    <div class="name-content">
                        <span class="name">Tallah Cotton,</span>
                        <div class="sending">
                            <span>Sending</span>
                            <div class="sending-load">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="images">
                    <div class="avt">RP</div>
                </div>
            </div>
            <!-- Resend -->
            <div class="wrapper-message box-message-send box-send-fail">
                <div class="wrap-items">
                    <div class="description">
                        Harum qui in quidem 😄

                        <span>!</span>
                    </div>
                    <div class="name-content">
                        <span class="name">Tallah Cotton,</span>
                        <div class="resend">
                            Resend <span>⟳</span>
                        </div>
                    </div>
                </div>

                <div class="images">
                    <div class="avt">RP</div>
                </div>
            </div>
            <!-- Send image -->
            <div class="wrapper-message box-message-send">
                <div class="wrap-items">
                    <div class="wrap-attachment">
                        <div class="description">
                            Hi!
                        </div>
                        <div class="attachment-file">
                            <div class="box-attach view-horizontal">
                                <div href="#viewImage" class="btn-modal img-attach"></div>
                            </div>
                        </div>
                    </div>
                    <div class="name-content">
                        <span class="name">Lori,</span>
                        <span class="time">Today, 10:13am</span>
                    </div>
                </div>

                <div class="images">
                    <div class="avt">RP</div>
                </div>
            </div>
            <!-- Timeline -->
            <div class="time-line">
                <div class="datetime">
                    Today
                    <%- include ("../svg/outline/outline-chevron-down-small.svg") %>
                </div>
            </div>
            <!-- End -->
            <!-- To img -->
            <div class="wrapper-message box-message-to has-attachment">
                <div class="images">
                    <div class="avt-img">
                        <img src="../../images/avatar.png" alt="" width="24px" height="24px">
                    </div>
                </div>

                <div class="wrap-items">
                    <div class="message-to-detail">
                        <div class="wrap-attachment">
                            <div class="description">
                                Hi!
                            </div>
                            <div class="attachment-file">
                                <div class="box-attach has-manyimage">
                                    <div href="#viewImage" class="btn-modal img-attach"></div>
                                    <div href="#viewImage" class="btn-modal img-attach"></div>
                                </div>
                            </div>
                        </div>
                        <div class="check-items">
                            <input id="check-message1" type="checkbox">
                                <div class="item-checkbox">
                                    <label for="check-message1"></label>
                                </div>
                        </div>
                    </div>
                    <div class="name-content">
                        <div class="name">
                            Olivia Eklund,
                            <span class="phone">Home, (844)-345-3045</span>
                        </div>
                        <div class="time"> 07/12/2020 06:30PM - 07:15PM </div>
                    </div>
                </div>
            </div>
            <!-- To PDF -->
            <div class="wrapper-message box-message-to has-attachment">
                <div class="images">
                    <div class="avt-img">
                        <img src="../../images/avatar.png" alt="" width="24px" height="24px">
                    </div>
                </div>

                <div class="wrap-items">
                    <div class="message-to-detail">
                        <div class="wrap-attachment">
                            <div class="attachment-file">
                                <div href="#viewImage" class="btn-modal box-attach">
                                    <div class="pdf-attach">
                                        <div class="detail"></div>
                                        <div class="name-file">
                                            <span>Long file name array</span>
                                            <span>.pdf</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="check-items">
                            <input id="check-message1" type="checkbox" checked>
                            <div class="item-checkbox">
                                <label for="check-message1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="name-content">
                        <div class="name">
                            Olivia Eklund,
                            <span class="phone">Home, (844)-345-3045</span>
                        </div>
                        <div class="time"> 07/12/2020 06:30PM - 07:15PM </div>
                    </div>
                </div>
            </div>

            <!-- Send many image -->
            <div class="wrapper-message box-message-send">
                <div class="wrap-items">
                    <div class="wrap-attachment">
                        <div class="description">
                            Hi!
                        </div>
                        <div class="attachment-file">
                            <div class="box-attach has-manyimage">
                                <div href="#viewImage" class="btn-modal img-attach"></div>
                                <div href="#viewImage" class="btn-modal img-attach"></div>
                                <div href="#viewImage" class="btn-modal img-attach"></div>
                            </div>
                        </div>
                    </div>
                    <div class="name-content">
                        <span class="name">Lori,</span>
                        <span class="time">Today, 10:13am</span>
                    </div>
                </div>

                <div class="images">
                    <div class="avt">RP</div>
                </div>
            </div>
            <!-- Chat bot message -->
            <div class="wrapper-message box-message-send">
                <div class="wrap-items">
                    <div class="wrap-attachment">
                        <div class="description">
                            This is an automatic message. Please do not reply.
                        </div>
                    </div>
                    <div class="name-content">
                        <span class="name">Lori,</span>
                        <span class="time">Today, 10:13am</span>
                    </div>
                </div>

                <div class="images chatbot-avt">
                    <div class="avt-img">
                        <%- include ("../svg/chatbot.svg") %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-fixed"></div>
    </div>
</div>