<div class="footer-pages">
	<div class="justify-space-between">
		<div class="d-flex align-center">
			<div class="dropup disable">
				<div onclick="dropdownFunc(this)" class="dropbtn btn-default selection justify-start">
					11 Per Page
					<span class="svg-selectbox"><%- include ("../svg/outline/icon-selectbox.svg") %></span>
				</div>
				<div class="dropdown-menu">
					<ul>
						<li>
							<div class="items">11 Per Page</div>
						</li>
						<li>
							<div class="items">12 Per Page</div>
						</li>
					</ul>
				</div>
			</div>
			
            <div class="tabs">
				<div role="tablist" aria-lable="Tabs Example" class="tab-selectors btn-item">
					<button class="tab-items active-tab-selector" type="button">
						Active
					</button>
					<button class="tab-items" type="button">
						Archived
					</button>
					<button class="tab-items" type="button">
						Deleted
					</button>
				</div>
			</div>
        </div>
	</div>
</div>