<div class="trial-bar">
    <div class="prompt">
        14 days remaining on your trial
        <span class="choose-a-plan">Choose a Plan</span>
    </div>
    <span class="btn-close-trial-bar" onclick="closeTrialBar(this)">
        <%- include ("../svg/outline/outline-close.svg") %>
    </span>
</div>