// Border color
@each $color, $value in $colors {
  .border-#{$color} {
    border: 1px solid $value !important;
  }

  .border-top-#{$color} {
    border-top: 1px solid $value !important;
  }

  .border-bottom-#{$color} {
    border-bottom: 1px solid $value !important;
  }

  .border-left-#{$color} {
    border-left: 1px solid $value !important;
  }

  .border-right-#{$color} {
    border-right: 1px solid $value !important;
  }
}
@for $i from 1 through 50 {
  .border-radius-#{$i} {
      border-radius: 1px * $i;
  }
}
.border-none {
  border: $border-none !important;
}