@mixin btn {
    border: solid 1px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    height: 32px;
}

@mixin transition($duration) {
    -webkit-transition: all $duration ease;
    -moz-transition: all $duration ease;
    -o-transition: all $duration ease;
    transition: all $duration ease;
}

@mixin transitions($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transform-origin($property) {
    -webkit-transform-origin: $property;
    -moz-transform-origin: $property;
    -ms-transform-origin: $property;
    -o-transform-origin: $property;
    transform-origin: $property;
}

// animation
@mixin animation($property) {
    -webkit-animation: $property;
    -moz-animation: $property;
    -ms-animation: $property;
    -o-animation: $property;
    animation: $property;
}

@mixin flexwrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin centeritem {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

@mixin betweenitems {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}
@mixin betweentop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin flexcenter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flexend {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

@mixin flexinline {
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flexcolumns {
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin text-line-clamp($property) {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $property;
}

@mixin size($property) {
    width: $property;
    height: $property;
}

@mixin border($color, $radius, $bgColor) {
    border-radius: $radius;
    
    @if ($color != 'null') {
        border: 1px solid $color;
    } @else if ($bgColor != 'null') {
        background-color: $bgColor; 
    }    
}

@mixin position($top) {
    position: absolute;
    top: $top;
}

@mixin font-color($lineHeight, $fontSize, $color) {
    line-height: $lineHeight;
    font-size: $fontSize;
    color: $color;
}

@mixin job-status($bgColor, $borderColor, $color) {
    background-color: $bgColor;
    border: solid 1px $borderColor;
    color: $color;
}

// placeholder
@mixin placeholder {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @content;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        @content;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        @content;
    }
}

@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

// Process circle
@mixin draw-progress($progress-cirle, $progress-color) {
    .circle {
        .half-circle {
            border-color: $progress-color;
            &--left {
                @include transform(rotate($progress-cirle * 3.6deg));
            }
        }

        @if $progress-cirle <= 50 {
            .half-circle--right {
                display: none;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);

            .half-circle--right {
                @include transform( rotate(180deg));
            }
        }
    }
}