.splash {
    @include size(100%);

    position: relative;
    padding: 0px;

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));
    }

    .loader {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;

        @include size(50px);

        -webkit-animation: rotation 1.5s infinite linear;
        -moz-animation: rotation 1.5s infinite linear;
        -ms-animation: rotation 1.5s infinite linear;
        -o-animation: rotation 1.5s infinite linear;
        animation: rotation 1.5s infinite linear;
    }
}

@keyframes rotation {
    from {
        @include transform(rotate(0deg));
    }

    to {
        @include transform(rotate(360deg));
    }
}